@font-face {
  font-family: 'Lobster';
  src: "fonts/Lobster-Regular.ttf"
}

.cuteTitle{
	font-family:Lobster;
	font-size: 90px;
}

.portrait {
  display: block;
  max-width: 400px;
  max-height:400px;
  width: auto;
  height: auto;
}