@font-face {
  font-family: 'Lobster';
  src: "fonts/Lobster-Regular.ttf"
}

.cuteTitle{
	font-family:Lobster;
	font-size: 90px;
}

.portrait {
  max-width: 400px;
  max-height:400px;
  width: auto;
  height: auto;
}

.flex-col{
	display: flex;
	justify-content: center;
	flex-flow:column; 
	align-items: center;
}

h1,h2 {
	max-width: 600px;
}

p{
	max-width: 600px;
	font-family: Lato;
}